/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
} */

/* @media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
} */

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
}

.table-head {
  border-bottom: 1.5px solid blue !important;
  border-top: 1.5px solid blue !important;
  text-align: left;

  > th {
    padding: 10px 0 10px 0;
  }
}

.table-row {
  border-bottom: 1px solid #E1E1E1;

  > td {
    padding: 8px 0;
  }

  > td > h4 {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}
