@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600,700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
}

.table-head {
  border-bottom: 1.5px solid blue !important;
  border-top: 1.5px solid blue !important;
  text-align: left;

  > th {
    padding: 10px 0 10px 0;
  }
}

.table-body {
  border-bottom: 1px solid #E1E1E1;

  > td {
    padding: 8px 0;
  }
}

.text-center {
  text-align: center;
}
